In [47]:
import pandas as pd
import numpy as np

#### Extracting the info from exccel

In [48]:
survey = pd.read_excel("Survey.xlsx")
survey.head(1)

,Timestamp,1. What is your gender?,2. How old are you?,3. What is the area of your studies at University?,4. Where did you take the course?,5. Please specify the country:,6. Have you completed your studies?,7. In what year did you complete your degree?,8. Did you take one second course in University?,"9. If yes, did you complete this second course?",...,14. Did you feel the need to look for work abroad?,15. Are you satisfied with the evolution of your career?,16. Select the options below that better fits your positive thoughts about your current or last work experience:,17. Select the options below that better fits your negative thoughts about your current or last work experience:,18. Do you feel that your University studies matches with what you aspirated?,19. Did you take another specialization course/MBA/Phd/Bootcamp?,"20. If yes, what was the course/MBA/Phd/Bootcamp? And Why?",21. Do you feel that you need/had to change career to have more work opportunities?,Thank you for taking the time to complete this survey!,Thank you for taking the time to complete this survey! [Row 2dfsdg]
0,2022-11-07 20:47:58.368,Female,34.0,"Architecture, civil engineering and related a...",Europe,portugal,Yes,2014.0,No,No,...,Yes. And I went to work in another country.,Yes,s,sd,Yes,Yes. The specialization was/is in a different ...,"Ironhack Data , because there is more prospect...",NaN,NaN,NaN

In [49]:
survey = survey.iloc[:,:-2]

In [50]:
col_names = list(survey.columns)
col_names

['Timestamp',
 '1.  What is your gender?',
 '2. How old are you?',
 '3. What is the area of your studies at University?',
 '4. Where did you take the course?',
 '5. Please specify the country:',
 '6.  Have you completed your studies?',
 '7. In what year did you complete your degree?',
 '8. Did you take one second course in University?',
 '9. If yes, did you complete this second course?',
 '10. When did you complete this second course ?',
 '11. Does the search for your first job (after graduation) was easy?',
 '12. The experience of your first job was what you expected?',
 '13. Why?',
 '14. Did you feel the need to look for work abroad?',
 '15. Are you satisfied with the evolution of your career? ',
 '16. Select the options below that better fits your positive thoughts about your current or last work experience:',
 '17. Select the options below that better fits your negative thoughts about your current or last work experience:',
 '18. Do you feel that your University studies matches with what you aspirated?',
 '19. Did you take another specialization course/MBA/Phd/Bootcamp?',
 '20. If yes, what was the course/MBA/Phd/Bootcamp? And Why?',
 '21. Do you feel that you need/had to change career to have more work opportunities? ']

In [51]:
survey.columns=['Timestamp',1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21]
survey.head(1)

,Timestamp,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,2022-11-07 20:47:58.368,Female,34.0,"Architecture, civil engineering and related a...",Europe,portugal,Yes,2014.0,No,No,...,Yes,NaN,Yes. And I went to work in another country.,Yes,s,sd,Yes,Yes. The specialization was/is in a different ...,"Ironhack Data , because there is more prospect...",NaN

#### Correcting misspelled/typing errors

In [52]:
# [5] - For the Country name column
survey[5] = survey[5].str.strip().str.title()

In [53]:
survey[5] = survey[5].str.replace('Pt','Portugal')

In [54]:
survey[5].value_counts()

Portugal           23
United States       3
Usa                 3
Uk                  2
Netherlands         2
Brazil              2
United Kingdom      2
The Netherlands     2
South Africa        2
Colombia            2
Italy               1
Ireland             1
Austria             1
Egypt               1
Denmark             1
Australia           1
Canada              1
Vietnam             1
China               1
New Zealand         1
France              1
Spain               1
Name: 5, dtype: int64

In [75]:
# [16]
# function to search for the especific answers 
def find_answers16(row, answer):
    if str(answer) in str(row[16]):
        return 1
    else:
        return 0

#function to search for different answers (open answers):
def find_open_pos_answers16(row):
    for ans16 in str(row[16]).split(','):
        if ans16.strip() not in post_ans:
                return ans16.strip()
    else:
        return 0

#[17]
# function to search for the especific answers 
def find_answers17(row, answer):
    if str(answer) in str(row[17]):
        return 1
    else:
        return 0

#function to search for different answers (open answers):
def find_open_neg_answers17(row):
    for ans16 in str(row[17]).split(','):
        if ans16.strip() not in neg_ans:
                return ans16.strip()
    else:
        return 0

In [76]:

#inserting '16' into columns:
post_ans = ["I ‘m/was challenged everyday and I enjoy it.","I have/had a good life-work balance","I have/had a fair salary","I have/had freedom to work how I like","I enjoy/enjoyed  my work","I feel/felt stimulated and well guided in the beginning"]

for ans in post_ans:
    survey[ans.strip()] = survey.apply(find_answers16, axis=1, args=[ans])

survey["Other_positive_answer"] = survey.apply(find_open_pos_answers16, axis=1)


#inserting '17' into columns:
neg_ans = ["I ‘m/was not challenged everyday","My work is/was not recognized","I don’t/din't feel integrated in the organization/company","I can/could not have a good life-work balance","I am/was not paid enough","I do/did not enjoy my job","I do/did not have any guidance","I do/did not feel great prospects of growing inside this company"] 

for ans in neg_ans:
    survey[ans.strip()] = survey.apply(find_answers17, axis=1, args=[ans])

survey["Other_negative_answer"] = survey.apply(find_open_neg_answers17, axis=1)

survey.head(2)

,Timestamp,1,2,3,4,5,6,7,8,9,...,My work is/was not recognized,I don’t/din't feel integrated in the organization/company,I can/could not have a good life-work balance,I am/was not paid enough,I do/did not enjoy my job,I do/did not have any guidance,I do/did not feel great prospects of growing inside this company,Other_negative_answer,last_graduation_year,experience_aft_gra
0,2022-11-07 20:47:58.368,Female,34.0,"Architecture, civil engineering and related a...",Europe,Portugal,Yes,2014.0,No,No,...,0,0,0,0,0,0,0,sd,2014.0,8.0
1,2022-11-07 20:57:41.684,Female,24.0,Marketing,Europe,Portugal,Yes,2019.0,Yes,Yes,...,0,0,0,1,1,1,1,0,2021.0,1.0

In [57]:
# [8] and [9] logic
survey[(survey[8] == 'No') & (survey[9] == 'Yes')]

Empty DataFrame
Columns: [Timestamp, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, I ‘m/was challenged everyday and I enjoy it., I have/had a good life-work balance, I have/had a fair salary, I have/had freedom to work how I like, I enjoy/enjoyed  my work, I feel/felt stimulated and well guided in the beginning, Other_positive_answer, I ‘m/was not challenged everyday, My work is/was not recognized, I don’t/din't feel integrated in the organization/company, I can/could not have a good life-work balance, I am/was not paid enough, I do/did not enjoy my job, I do/did not have any guidance, I do/did not feel great prospects of growing inside this company, Other_negative_answer]
Index: []

[0 rows x 38 columns]

In [58]:
len(survey)

55

In [59]:
#Drop rows from who didn't compleated the studies
survey.dropna(subset=[7], inplace=True)

#replace nulls
survey[8].fillna("No", inplace=True)
survey[9].fillna("No", inplace=True)
survey[10].fillna(0, inplace=True)

In [78]:
len(survey)

41

In [60]:
# correct misspelled dates
index = []
for i in range(len(survey)):
    try:
        if len(str(survey[7][i])) > 6:
            survey[7][i] = float(str(survey[7][i])[:4])
    except:
        index.append(i)
        pass
print("This indexs doens't existes\n", index,"\n Were dropped ", len(index)," rows")

This indexs doens't existes
 [5, 20, 25, 32, 33, 34, 37]
 Were dropped  7  rows

C:\Users\inesa\AppData\Local\Temp\ipykernel_4580\1031435786.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  survey[7][i] = float(str(survey[7][i])[:4])

In [61]:
# correct second dates
for i in range(len(survey)):
    try:
        if survey[9][i] == "No":
            survey[10][i] = 0
    except:
        pass

C:\Users\inesa\AppData\Local\Temp\ipykernel_4580\1332147550.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  survey[10][i] = 0

In [62]:
survey[[7,8,9,10]].value_counts()

7       8    9    10
2014.0  No   No   0.0       6
2019.0  No   No   0.0       5
2022.0  No   No   0.0       4
2013.0  No   No   0.0       4
2021.0  No   No   0.0       3
2020.0  No   No   0.0       3
2016.0  No   No   0.0       3
2019.0  Yes  Yes  2021.0    3
             No   0.0       1
2020.0  Yes  Yes  2018.0    1
2019.0  Yes  Yes  2017.0    1
1983.0  Yes  Yes  2011.0    1
1989.0  No   No   0.0       1
2017.0  Yes  Yes  2013.0    1
2011.0  Yes  Yes  2022.0    1
2009.0  Yes  No   0.0       1
2008.0  No   No   0.0       1
2017.0  Yes  Yes  2022.0    1
dtype: int64

In [63]:
# Add column 'last_graduation_year'

survey['last_graduation_year'] = survey[[7,10]].values.max(1)
survey[[7,10,'last_graduation_year']].head(2)

        7      10  last_graduation_year
0  2014.0     0.0                2014.0
1  2019.0  2021.0                2021.0

In [64]:
# Distance Between last Graduation and now. Working experience after last graduation
survey["experience_aft_gra"] = 2022 - survey['last_graduation_year']
survey["experience_aft_gra"]

0      8.0
1      1.0
2      8.0
3     33.0
4      8.0
6      2.0
7      8.0
8      2.0
9      1.0
10     6.0
11     8.0
12     3.0
13    13.0
14     6.0
15     1.0
16     9.0
17     1.0
18     9.0
19     0.0
21     2.0
22     6.0
23     0.0
24     3.0
26     0.0
27     8.0
28     3.0
29     9.0
30     9.0
31     3.0
35     3.0
36     0.0
38    11.0
39     5.0
40     1.0
41     2.0
43    14.0
44     1.0
49     0.0
50     3.0
52     3.0
54     0.0
Name: experience_aft_gra, dtype: float64

In [68]:
survey[11].value_counts()

Yes. Maximum of 3 months.                                                                                   18
More or less. Maximum of 6 months.                                                                           5
No. It took me more than 6 months.                                                                           5
I’m working in another area.                                                                                 5
I’m working in another area but the degree helped me to find this job.                                       2
I was my own boss                                                                                            1
I started my own business                                                                                    1
I was kinda working in the area                                                                              1
I didn't look for a job after                                                                                1
No, covid was just starting and I was trying to find a job in another country so that I could immigrate.     1
I started a master now but I am worried about not finding a job related to my field of study                 1
Name: 11, dtype: int64

In [69]:
survey[13].fillna("nothing to add", inplace=True)
survey[20].fillna("no extra course", inplace=True)
survey[21].fillna("Yes", inplace=True)

In [70]:
### ????? probably I can do a Bag of words with this next and separate by happy or not with the fist exp and compare with career evolution
survey[13]

0                                        nothing to add
1     It was very boring and my boss was very absent...
2     Lake of payment and a lot of stress with rotat...
3     Porque comecei a trabalhar na area do curso qu...
4                               I din't have experience
6       Still haven't found first job after graduation.
7                                   Lack of experience
8                                        nothing to add
9                         It’s different from my degree
10                     Learned a lot in different areas
11                                       nothing to add
12                                       nothing to add
13                                       nothing to add
14    I was overworked, covering multiple positions,...
15                                       nothing to add
16        poor salary, less recognition of the job role
17                                       nothing to add
18                                       nothing to add
19                             More work than I thought
21                                       nothing to add
22    It was what I imaged a life in a lab would be,...
23                                   High expectations
24                                       nothing to add
26                Did placements so knew what to expect
27    I was looking for a general job in an area tha...
28                                                Covid
29                                       nothing to add
30    It was a lot more intense than I expected, I f...
31                                       nothing to add
35    I was fresh out of college and was getting a d...
36                                  Met my expectations
38       Had to take anything jobs were hard to come by
39    I couldn't afford my own place even though I w...
40                    It was difficult than I imagined
41          Real world problems was not taught in books
43                                       nothing to add
44                                       nothing to add
49    I expected to know almost nothing relevant to ...
50                                       nothing to add
52    Terrible conditions, low salary, zero apprecia...
54    It relates to my internship and it is related ...
Name: 13, dtype: object

In [71]:
# STILL NULLS?
survey.isnull().sum().sort_values(ascending=False)

Timestamp                                                           0
1                                                                   0
I ‘m/was challenged everyday and I enjoy it.                        0
I have/had a good life-work balance                                 0
I have/had a fair salary                                            0
I have/had freedom to work how I like                               0
I enjoy/enjoyed  my work                                            0
I feel/felt stimulated and well guided in the beginning             0
Other_positive_answer                                               0
I ‘m/was not challenged everyday                                    0
My work is/was not recognized                                       0
I don’t/din't feel integrated in the organization/company           0
I can/could not have a good life-work balance                       0
I am/was not paid enough                                            0
I do/did not enjoy my job                                           0
I do/did not have any guidance                                      0
I do/did not feel great prospects of growing inside this company    0
Other_negative_answer                                               0
last_graduation_year                                                0
21                                                                  0
20                                                                  0
19                                                                  0
9                                                                   0
2                                                                   0
3                                                                   0
4                                                                   0
5                                                                   0
6                                                                   0
7                                                                   0
8                                                                   0
10                                                                  0
18                                                                  0
11                                                                  0
12                                                                  0
13                                                                  0
14                                                                  0
15                                                                  0
16                                                                  0
17                                                                  0
experience_aft_gra                                                  0
dtype: int64

In [ ]:
#??? Look for normalize open answers

In [79]:
survey.to_excel("Survey_Corrected.xlsx", index=False)